__pycache__/
*.py[cod]
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.env
.venv/
venv/
env/
cvelistV5-main/
.vscode/
.pytest_cache
tools/
.coverage
# Local configuration files
env
cfg.ini
cfg_services.ini
#json files generated during runtime
cve_list.json
finetune_data.jsonl
labels_result.json
result.json
worker_settings.json
serviceAccountKey.json
bandit_output.json

#md files
SECURITY.md
Docs/fstrings_audit.md