__pycache__/
*.py[cod]
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.env
.venv/
venv/
env/
serviceAccountKey.json
env
cfg.ini
cfg_services.ini
cvelistV5-main/
cve_list.json
finetune_data.jsonl
labels_result.json
result.json