__pycache__/
*.py[cod]
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.env
*.pdf
.venv/
venv/
env/
cvelistV5-main/
chroma/
.vscode/
.pytest_cache
tools/
.coverage
# Local configuration files
env
*.ini
#json files generated during runtime
*.json
*jsonl
#md files